body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

img {
  height: 100px;
  width: 100px;
  margin-left: 3px;
}

#ransom-note {
  position: fixed;
  top: 19px;
  left: 20px;
}

#create-note {
  position: fixed;
  top: 20px;
  left: 163px;
}

.word {
  display: block;
  float: left;
  margin-left: 37px;
  margin-top: 10px;
}